#header {
    width: 913px;
    margin-left: auto;
    margin-right: auto;
    border-top: solid 4px #333333;
    border-bottom: solid 4px #333333;
    padding-top: 0;
}
#header p {
    font-size: 1.5rem;
    margin-top: 0;
}

.moto {
    font-size: 1rem;
    text-align: center;
}