@font-face {
    font-family: 'Cowboy';
    src: url('drover.woff2') format('woff2'),
        url('drover.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.inside {
    width: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
    border-top: solid 2px #333333;
    border-bottom: solid 2px #333333;
}

p {
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.1;
}

h1 {
    text-align: center;
    font-size: 7rem;
    font-family: 'Cowboy';
    margin-bottom: 0;
    margin-top: 0;
}