@font-face {
    font-family: 'Cowboy';
    src: url('drover.woff2') format('woff2'),
        url('drover.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    width: 1100px;
    margin: auto;
    margin-top: 50px;
    color: #333333;
    background-color: #F0E5D7;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#header {
    width: 913px;
    margin-left: auto;
    margin-right: auto;
    border-top: solid 4px #333333;
    border-bottom: solid 4px #333333;
    padding-top: 0;
}
#header p {
    font-size: 1.5rem;
    margin-top: 0;
}

.inside {
    width: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
    border-top: solid 2px #333333;
    border-bottom: solid 2px #333333;
}

.moto {
    font-size: 1rem;
    text-align: center;
}

p {
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.1;
}

h1 {
    text-align: center;
    font-size: 7rem;
    font-family: 'Cowboy';
    margin-bottom: 0;
    margin-top: 0;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 520;
}

img {
    float: right;
    margin-left: 5%;
}

#breaking-header {
    border-bottom: solid 4px #333333;
    width: 913px;
    margin: auto
}
#breaking-header div.inside {
    width: 913px;
    margin-bottom: 4px;
}
#breaking-header div.inside div {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    border-bottom: solid 2px #333333;
}
#breaking-header div.inside h1 {
    text-align: center;
    font-size: 6rem;
    margin-top: 0;
}
#date-block {
    display: flex;
    align-items: end;;
    flex-direction: column;
    border-bottom: none !important;
    justify-content: normal !important;
    margin-top: auto;
    margin-bottom: auto;
}
#date-block p {
    margin: 0;
}

div.breaking {
    border-top: none;
}

#float-quote {
    float: right;
    font-style: italic;
    font-size: 1.1rem;
    line-height: 1;
    position: relative;
    right: 0;
    left: 220px;
    background-color: #F0E5D7;
    width: 275px;
    border: solid 2px #333333;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: -175px;
}
#right-side {
    display: flex;
    flex-direction: column;
}